body{
  margin:0;
  font-family: normal;
  background: white;
}
h3{
  text-align:center;
  font-size: 30px;
  margin:0;
  padding-top:10px;
}
a{
  text-decoration: none;
}
.gallery{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
  align-items: center;
  margin:50px;

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 1000px;
}

.content img {
width:50%;  height: 100%;
  border-radius: 4px;
}

.content-info {
  margin-top: 10px;
}

.content-info p,
.content-info h6,
.content-info ul {
  margin: 5px 0;
}

.content{
  width:30%;
  margin:15px;
  box-sizing:border-box ;
  float:left;
  text-align:center;
  border-radius: 20px;
  cursor:pointer;
  padding-top:10px;
  box-shadow: navajowhite;
  transition: .4s;
  background-color:white;

 }

 .content:hover{
   box-shadow: red;
   transform :translate(0px,-8px)

 }
 img{
   width:30%;
   height:150px;
   text-align: center;
   margin:0 auto;
   display:block;
 }

h6{
  font-size:30px;
  text-align:center;
  color:magenta;
  margin:0;
}
