<div class="container " xmlns="http://www.w3.org/1999/html">
  <ul class="responsive-table column column-70">
    <li class="table-header">

      <div class="col soumetteur2 " style="color: white ">Soumetteur </div>
      <div class="col date " style="color: white; margin-left: 120px;">Date début et date fin </div>
      <div class="col actions" style="color: white; margin-right: 79px;">Actions</div>
    </li>


    <li class="table-row" *ngFor="let demande of listdemandconges | paginate: { itemsPerPage: 6, currentPage : p }; let i=index"  >

      <div class="col  soumetteur"  data-label="Soumetteur de la demande">{{demande.collaborateur.prenom}}</div>
      <div class="col date " style="margin-top:34px;"data-label="Date début et date fin de la demande">Date début : {{demande.date_debut}}
        <div  > Date fin : {{demande.date_fin}} </div>
        <div  class=dates *ngIf="isDeadlineProche(deadlines[demande.id_demandeconge])"> <i class="bi bi-exclamation-octagon-fill"></i> A traiter avant : {{ deadlines[demande.id_demandeconge] | date:'yyyy-MM-dd' }}</div>
      </div>
      <div class="col  actions" data-label="Actions">
                <td> <button  class="button-53  button_chat" (click)="managedecisiondeux('hhhh',true,demande.id_demandeconge)"> Valider</button>
        <td> <button  class="button-53  button_chat" (click)="managedecisiondeux('hhhh',false,demande.id_demandeconge)"> Refuser</button>

          <button class="button-53 button_chat" (click)="toggleDetails(demande.collaborateur.cin, i)">
            Details de demandes antérieures
            <i class="fa fa-info-circle"></i>

            <span class="info-window" [class.show]="detailsWindowVisible[i]">
      <div *ngFor="let demandeanterieure of listdemandesanterieres">
        {{demandeanterieure}}
      </div>
    </span>
          </button>
      </div>

    </li>

    <div class="pagination-tem"> <pagination-controls (pageChange)="p = $event"></pagination-controls></div>

  </ul>

  <app-navbar></app-navbar>


</div>

  <app-sidebargest></app-sidebargest>

