<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color:  #333; width:200px;  position:fixed; margin-top: 40px; height:120vw; ">
 <img src="../../assets/soopra.png" style="margin-top:19px; margin-left:30px;width:120px; height:120px;">
  <ul class="nav">






    <li class="nav-item nav-item-logout ">
      <a class="nav-link" >
        <span (click)="gosoumettre()" class="menu-title" style="height:30px; left:1px; margin-top: 40px;color:white;" >Soumettre un congé </span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-item-logout " >
      <a class="nav-link" >
        <span (click)="gochart()" class="menu-title" style="height:30px; left:1px; margin-top: 30px;color:white;" >Charts </span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-item-logout " >
      <a class="nav-link" >
        <span class="menu-title"  (click)="goplanning()" style="height:30px; left:1px; margin-top: 30px;color:white;" >Le planning de mes collégues </span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
  -
    <li class="nav-item nav-item-logout" >
      <a class="nav-link" >
        <span (click)="openmatdialog()" class="menu-title" style="height:30px;margin-top: 30px; color:white;">Documents </span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-item-logout" >
      <a class="nav-link" >
        <span (click)="decider()" class="menu-title" style="height:30px;margin-top: 30px; color:white;">Mon espace  </span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-item-logout"  >
      <a class="nav-link" >
        <span (click)="goto()"  style="height:30px; margin-top: 30px;color:white;">A Propos </span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>




  </ul>

</nav>

