body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}
.retard {
  position: fixed ; /* Position fixe */
  top: 20px; /* Aligner le haut de l'élément avec le haut de la fenêtre */
  left: 0; /* Coller à la bordure gauche de la fenêtre */
  width: 500px; /* Largeur automatique */
  margin: 0; /* Pas de marge */
  padding: 0; /* Pas de remplissage */
  list-style: none; /* Supprimer les puces de liste */
  height:100%;
}
.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
